
<!-- {{matMenu}} -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">{{siteTitle}}</a><!--  - {{pageTitle}} -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/all_movies">Tous les films</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create_movie">Ajouter un film</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container my-3">
    
    <router-outlet></router-outlet>
</div>
